node_modules
dist
build
.env
.env.*
!.env.example
.venv
__pycache__
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
instance
*.egg-info
static
.ruff_cache
.claude
.pytest_cache 
*/**/storage/documents